{% extends "layouts/back-layout.html" %}

{% block title %} Users {% endblock %}

{% block content %}

    <h2>Users</h2>

    <div align="right">
        <a href="/users/add" class="btn btn-primary">Add New</a>
    </div>

    <div class="card" style="padding: 1%;">
        {% if num_registos == 0 %}
        <div class="alert-alert-warning">
             <h5>No records found!</h5>
        </div>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Created at</th>
                        <th>Update at</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.user_name }}</td>
                            <td>{{ user.role_name }}</td>
                            <td>{{ user.created_at }}</td>
                            <td>{{ user.updated_at }}</td>
                            <td>
                                <a href="/users/{{ user.user_id }}/details" class="btn btn-primary">
                                    Details
                                </a>
                            <td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    
{% endblock %}